<div class="row">
    <div class="col pt-3 mt-3">
        <div class="card">
            <div class="ui statistic">
                <div class="label text-danger">
                  <h3>Confirmed</h3>
                </div>
                <div class="value text-danger">
                  {{totalConfirmed}}
                </div>
              </div>
        </div>
    </div>
    <div class="col  pt-3 mt-3">
    <div class="card">
        <div class="ui statistic">
            <div class="label">
              <h3>Active</h3>
            </div>
            <div class="value">
              {{totalActive}}
            </div>
          </div>
    </div>
</div>
<div class="col  pt-3 mt-3">
    <div class="card">
        <div class="ui statistic">
            <div class="label text-success">
              <h3>Recovered</h3>
            </div>
            <div class="value text-success">
              {{totalRecovered}}
            </div>
          </div>
    </div>
</div>
<div class="col  pt-3 mt-3">
    <div class="card">
        <div class="ui statistic">
            <div class="label text-primary">
              <h3>Deaths</h3>
            </div>
            <div class="value text-primary">
              {{totalDeaths}}
            </div>
          </div>
    </div>
</div>
</div>